<!DOCTYPE html>
<html lang="en-US">

<html>

<head>
  <meta charset="UTF-8" />
  <link rel='stylesheet' type='text/css' href='stylesheet.css' />
  <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="google-signin-client_id" content="cis-371-forum.apps.googleusercontent.com">
  </meta>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="app.js"></script>
  <title>CIS371 Forum</title>
</head>

<body>
  <div id="app">

    <div class="searchBar">
      <v-toolbar app dark color="gray">
        <v-toolbar-title>{{title}}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <div class="searchBar">
            <input v-model="searchInput" class="searchInput" placeholder="Seach">
            <v-btn id="search-button" depressed small round color="grey" @click="searchForums">
              <v-icon dark>search</v-icon>
            </v-btn>
            <v-btn depressed small round color="grey" @click="forumPost">
              <v-icon dark>add</v-icon>
            </v-btn>
            <v-btn id="home-button" depressed small round color="grey" @click="setHome">
              <v-icon dark>home</v-icon>
            </v-btn>
            <v-btn id="login-button" depressed small round color="grey" @click="logToggle">
              <v-icon dark>person</v-icon>
            </v-btn>
            <v-btn id="user-button" depressed small round color="grey" @click="userPage">
              <v-icon dark>subject</v-icon>
            </v-btn>
          </div>
        </v-toolbar-items>
      </v-toolbar>
    </div>

    <br><br>
    <div id="new-forum" class="hidden">
      <v-container fill-height black class="round">
        <v-layout id="titleEntry" row>
          <v-container fluid grey lighten class="round">
            <h3>Title: {{ postTitle }}</h3>
            <input v-model="postTitle" class="userInput" placeholder="Enter title">
            <br><br>
            <textarea v-model="postBody" class="userInput" placeholder="Enter body"></textarea>
            <v-btn id="submit-button" @click="submitForumPost">Submit</v-btn>
            <v-btn @click="cancelForumPost">Cancel</v-btn>
          </v-container>
        </v-layout>
      </v-container>
    </div>

    <div id="results-div" class="hidden">
      <br>
      <h2 class="results-h">Results</h2>
      <hr><br>
      <table id="results-table">
        <col width="100">
        <col width="200">
        <col width="600">
        <thead>
          <tr>
            <th>Posted By</th>
            <th>Title</th>
            <th>Body</th>
          </tr>
        </thead>
        <tbody id="result-body"></tbody>
      </table>
    </div>

    <div id="home">
      <br>
      <h2 class="results-h">Home</h2>
      <hr><br>
      <table id="home-table">
        <col width="100">
        <col width="200">
        <col width="600">
        <thead>
          <tr>
            <th>Posted By</th>
            <th>Title</th>
            <th>Body</th>
          </tr>
        </thead>
        <tbody id="home-body"></tbody>
      </table>
    </div>

    <div id="user-info" class="hidden">
      <h2>User Information</h2>
      <br>
      <label><b>Name: </b>{{ name }}</label><br>
      <label><b>Email: </b>{{ email }}</label><br>
      <img v-bind:src="pic" width="200" height="200" class="left">
      <table id="user-table">
        <col width="100">
        <col width="200">
        <col width="600">
        <thead>
          <tr>
            <th>Delete</th>
            <th>Title</th>
            <th>Body</th>
          </tr>
        </thead>
        <tbody id="user-body"></tbody>
      </table>
    </div>

  </div>

  <script>
    buildHomeScreen();
  </script>

</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script>
  let v = new Vue({
    el: '#app',
    data: {
      title: "FORUM.RS",
      postTitle: '',
      postBody: '',
      searchInput: '',
      email: '',
      password: '',
      name: '',
      gary: 'gray',
      pic: null,
      id: null
    },
    methods: {
      forumPost() {
        this.user = loggedIn();
        if (this.user) {
          var forumDiv = document.getElementById("new-forum");
          var resultsDiv = document.getElementById("results-div");
          var homeDiv = document.getElementById("home");
          var userDiv = document.getElementById("user-info");
          homeDiv.classList.add('hidden');
          resultsDiv.classList.add('hidden');
          userDiv.classList.add('hidden');
          forumDiv.classList.remove('hidden');

        } else {
          alert("Please log in to submit a post.");
        }
      },
      submitForumPost() {
        if (this.postTitle.length > 0 && this.postBody.length != 0) {
          submitPost(this.postTitle, this.postBody, this.user);
          this.cancelForumPost();
        }
      },
      cancelForumPost() {
        this.postTitle = '';
        this.postBody = '';
        var forumDiv = document.getElementById("new-forum");
        forumDiv.classList.add('hidden');
        this.setHome();
      },
      searchForums() {
        searchForForum(this.searchInput);
        let homeDiv = document.getElementById("home")
        homeDiv.classList.add('hidden');
        let userDiv = document.getElementById("user-info");
        userDiv.classList.add('hidden');
        let searDiv = document.getElementById("results-div");
        searDiv.classList.remove('hidden');
      },
      logToggle() {
        if (loggedIn()) {
          firebaseLogOut();
        } else {
          googleAuth();
        }
      },
      userPage() {
        if (loggedIn()) {
          let userDiv = document.getElementById("user-info");
          userDiv.classList.remove('hidden');
          let homeDiv = document.getElementById("home");
          homeDiv.classList.add('hidden');
          let searDiv = document.getElementById("results-div");
          searDiv.classList.add('hidden');
          userForum();
        } else {
          alert("Please log in to view your profile.");
        }
      },
      setHome() {
        // buildHomeScreen();
        let homeDiv = document.getElementById("home")
        homeDiv.classList.remove('hidden');
        let userDiv = document.getElementById("user-info");
        userDiv.classList.add('hidden');
        let searDiv = document.getElementById("results-div");
        searDiv.classList.add('hidden');
      }
    }
  })
</script>

</html>