@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
    background-color: #f1f1f2;
}

table {
    margin: 0 auto;
}

th {
    background-color: black;
    color: white;
    border-collapse: collapse;
    padding: 7px;
    text-align: center;
}

td {
    border-collapse: collapse;
    padding: 7px;
    text-align: center;
}

table {
    table-layout: fixed;
    width: 1000px;
}

tr:nth-child(odd) {
    background-color: #bcbabe;
    color: #021C1E;
}

tr:nth-child(even) {
    background-color: firebrick;
    color: white;
}

.col-body {
    text-align: left;
}

.results-h {
    text-align: center;
}

.inline {
    display: inline;
}

.hidden {
    display: none;
}

.navBar {
    background-color: black;
    color: white;
    overflow: hidden;
}

.userInput {
    background-color: white;
    border-color: black;
    width: 100%;
}

.middle {
    text-align: center;
}

.searchBar {
    background-color: gray;
    color: white;
    overflow: hidden;
    text-align: center;
}

.searchInput {
    background-color: lightgray;
    text-align: center;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
}
