@import url('https://fonts.googleapis.com/css?family=PT+Sans');

* {
    font-family: Arial
}

body {
    background-color: #d5d6d2;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 10px;
}

th {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

td {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

tr td:first-child {
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;

}

tr td:last-child {
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
}

table th:first-child {
    border-radius: 10px 0 0 10px;
}

table th:last-child {
    border-radius: 0 10px 10px 0;
}


table {
    table-layout: fixed;
    width: 1000px;
}

tr:nth-child(odd) {
    background-color: #756867;
    color: white;
}

tr:nth-child(even) {
    background-color: #2d3033;
    color: white;
}

.delete {
    text-align: center;
}

.col-body {
    text-align: left;
}

.results-h {
    text-align: center;
}

.inline {
    display: inline;
}

.hidden {
    display: none;
}

.navBar {
    background-color: black;
    color: white;
    overflow: hidden;
}

.userInput {
    background-color: white;
    border-color: black;
    width: 100%;
}

.middle {
    text-align: center;
}

.left {
    float: left;
}

.searchBar {
    padding: 17px;
    color: white;
    overflow: hidden;
    text-align: center;
}

.searchInput {
    background-color: lightgray;
    text-align: center;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
}

.round {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}